
<div class="projectCard">
    <div class="projectCardHeading">
        <div class="projectCardClientInfo">
            <div class="projectCardclientName">{{firstName}}</div>
            <div class="projectCardclientContact">{{address}}</div>
        </div>

        <img class="projectCardStatusIcon" src="" alt="">

    </div>

    <div class="projectCardPhoto">
        <img src={{mainPicture}} alt="mainPicture"/>
    </div>

    <div class="projectCardProgressBar">
        <div class="projectCardFinishedBar"></div>
        

    </div>

</div>
