<div id="index">
    <video autoplay muted loop id="background-video">
        <source src="../video/renovmasterH.mp4" type="video/mp4">
      </video>
  <div id="indexHeading">

    <div id="indexHeadingContainer">
      <h1 class="largeLogo">
          <span class="largeLogo1">Renov'</span>
          <span class="largeLogo2">Master</span>

        </h1>
        <span id="indexSlogan">Streamline Renovation Management</span>

    </div>

  </div>

  <div id="indexLoginSignup">
      <div id="indexLoginSignupContainer">

        <a id="indexLogin" class="roundGradientBtn" href="login">Login</a>
        <a id="indexSignup" class="roundWhiteBtn" href="signup">Sign-up</a>
      </div>

  </div>
</div>