<div class="display">
  {{>nav}}

  <div id="newProjectMain">
    <div id="newProjectContainer">
      <form class="longForm" action="/projects/new" method="post">
        <label class="formLabel">Client First Name
          <input class="formInput" type="text" name="firstName" required />
        </label>
        <label class="formLabel">Client Last Name
          <input class="formInput" type="text" name="lastName" required />
        </label>
        <label class="formLabel">Phone number
          <input class="formInput" type="text" name="phoneNb" required />
        </label>
        <label class="formLabel">Email address
          <input class="formInput" type="text" name="email" required />
        </label>
        <label class="formLabel">Address
          <input class="formInput" type="text" name="address" required />
        </label>
        <label class="formLabel">First meeting Date
          <input class="formInput" type="date" name="firstMeetingDate" id="firstMeetingDateInput"/>
        </label>
        <label class="formLabel">First meeting address
          <input class="formInput" type="text" name="firstMeetingAddress" />
        </label>
        <label class="formLabel">Project description
          <input class="formInput" type="text" name="projectDescription" />
        </label>
        <label class="formLabel">Project deadline
          <input class="formInput" type="date" name="projectDeadline" id="projectDeadlineInput"/>
        </label>
        
        <button id="newProjectBtn" class="roundGradientBtn" type="submit">Save Project</button>
        <p>{{#if errorMessage}}
            {{errorMessage}}
          {{/if}}</p>
      </form>

    </div>

  </div>

</div>